page-feed {
    h2.feed_titulo {
        color:  red;
        background-blend-mode:  color;
        font-size: larger;
    }
    .menu_superior *{
        color:#FFF;
        background-color:dodgerblue;
    }
}
