page-quimica {

    .menu_superior * {
        padding: 0;
        color:#FFF;
        background-color:darkblue;            
   }

   .centro {
    background-color:aliceblue;
    background-image: url('../../assets/imgs/fundo.png');
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
   }

   .titulo1{
       color:deepskyblue;
   }
}
